@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 0.2s ease-in-out;
}

/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

:root.dark{
  background-color: #171717;
}
:root{
  background-color: #ffffff;
}

/* The switch - the box around the slider */
.theme-toggle {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.theme-slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .3s;
  border-radius: 30px;
}

.theme-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .3s;
}

input:checked + .theme-slider {
  background-color: rgb(147, 224, 254);
}

input:checked + .theme-slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}